# Production Docker Compose
name: confirmator
services:
  app:
    container_name: paku24-confirmator
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - /app/node_modules
    expose:
      - '3030'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    restart: unless-stopped
    networks:
      - web

networks:
  web:
    external: true
